*.swp
*.swo
*~
.DS_Store
Thumbs.db
.idea/
.vscode/

# Log files
*.log
logs/
lsp-server/*.log
lsp-server/dist/nuxt
lsp-server/dist/providers
lsp-server/dist/utils
lsp-server/dist/server.d.ts
lsp-server/dist/server.js
